<%= form_with(model: [user, Lost.new]) do |form| %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= form.label :lost_at, style: "display: block" %>
    <%= form.datetime_field :lost_at %>
  </div>

  <div>
    <%= form.label :finded, style: "display: block" %>
    <%= form.check_box :finded %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>