<%= bootstrap_form_for([user, Lost.new]) do |form| %>

  <%= form.text_field :title %>
  <%= form.rich_text_area :description %>
  <%= form.datetime_field :lost_at %>
  <%= form.check_box :finded %>

  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>