<div class="card mb-4" id="<%=dom_id(lost)%>">
  <div class="card-header">
    Identification <em>#<%=lost.id%></em>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%=lost.title%></h5>
    <div class="card-text">
      <p><%=lost.description %></p>
      <hr />
      <strong>Lost at:</strong> <%= time_tag lost.lost_at, "data-local": "time-ago" %><br />
      <strong>Finded:</strong> <%= h lost.finded %>
    </div>
  </div>
</div>